{
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightseagreen;
  }
  
  .header {
    padding: 40px;
    margin-top: 70px;
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 70px;
    text-align: center;
    background: #f1815f;
    border: cadetblue;
    border-width: 20px;
    border-style: ridge;
    color: white;
    font-stretch: ultra-expanded;
  }

  p {
    font-size: 15px;
  }
  
  .header h1 {
    font-size: 40px;
    font-stretch: ultra-expanded;
  }

  

  .fa {
    padding: 20px;
    font-size: 60px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
    size: 10px;
  }
  
  .fa-instagram {
    background: #f80fab;
    color: white;
  }  
  
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .navbar a.right {
    float: center;
  }
  
  .navbar a:hover {
    background-color: rgb(221, 221, 221);
  }
  
  .row {  
    display:-ms-grid;
    flex-wrap: nowrap;
  }

  body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    background: #f1f1f1;
    text-align: center;
  }

  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: rgb(247, 157, 106);
  }
  
  .leftcolumn {
    float: right;
    width: 55%;
    text-overflow: ellipsis;
    padding-right: 20px;
    padding-right: 20px;
  }
  
  .rightcolumn {
    float: left;
    width: 35%;
    padding-left: 20px;
  }
  
  img {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    float: center;
  }
  
  .card {
    background-color: rgb(162, 238, 252);
    border-style: groove;
    border-width: thick;
    shape-image-threshold: inherit;
    padding: 20px;
    margin-left: 10%;
    margin-top: 20px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }