{
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20;
    background-color: lightseagreen;
    border-style: double;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  
  .header {
    padding: 90px;
    text-align: center;
    background: #e63b08;
    color: white;
  }
  
  .header h1 {
    font-size: 40px;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .navbar a.right {
    float: right;
  }
  
  .navbar a:hover {
    background-color: rgb(221, 221, 221);
    color: black;
  }

  .card {
    background-color: dodgerblue;
  }
  
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Fake image, just for this example */
  img {
    background-color: #aaa;
    width: 30%;
    padding: 20px;
  }

  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }