nav {
    text-align: auto;
    text-emphasis-color: rgb(224, 240, 7);
    background-color: rgb(5, 30, 59);
    padding-right: 80%;
    padding-top: 50%;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    background-color: rgb(255, 218, 8);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

h1 {
    text-size-adjust: 300px;
    text-overflow: clip;
    font-size: 40px;
    font-variant: small-caps;
    margin-right: 30%;
}

h2 {
    font-size: 18px;
}

img {
    border-image: 20%;
    border-style: ridge;
    margin-top: 70px;
    padding-top: 70px;
    align-items: center;
}