nav {
    text-align: auto;
    text-emphasis-color: rgb(224, 240, 7);
    background-color: rgb(5, 30, 59);
    padding-right: 80%;
    padding-top: 50%;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    background-color: rgb(255, 218, 8);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

h1 {
    text-size-adjust: 300px;
    text-overflow: clip;
    font-size: 40px;
    font-variant: small-caps;
    margin-right: 30%;
}

h2 {
    font-size: 18px;
}

img {
    border-image: 20%;
    border-style: ridge;
    margin-top: 10px;
    padding-top: 10px;
    align-items: center;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

.fa {
  padding: 20px;
  font-size: 60px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  size: 10px;
}

.fa-instagram {
  background: #125688;
  color: white;
}  

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}